// .advantages {

// }
.advantages__list {
  list-style: none;
}

.advantages__slogan {
  font-size: 24px;
  font-weight: 300;
  color: $basic-text;
}

.advantages__title {
  font-size: 18px;
  font-weight: 700;
  color: $basic-black;
}

.advantages__description {
  color: $basic-text;
}
