.app {
  order: 4;
  padding: 35px 20px 45px 20px;
  background-color: $grey-background;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
    order: 2;
    flex-grow: 1;
    padding-bottom: 41px;
    padding-top: 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.app__wrapper {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    border: 2px solid $radio-grey-border;
    border-radius: 1px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.app__title {
  margin-top: 0;
  margin-bottom: 34px;
  line-height: 18px;
  color: $basic-pink;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
    width: 368px;
    margin: -8px auto 50px;
  }

  @media (min-width: $desktop-width) {
    margin: -8px auto 50px;
  }
}

.app__radio-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-left: 60px;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 67px;
  }
}

.app__radio-item:not(:last-child) {
  margin-bottom: 45px;
}
