.billboard {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.panorama {
  background-size: cover;
  width: 100%;
}

.billboard__wrapper {
  width: 100%;
}

.billboard__slogan {
  position: absolute;
  right: 20px;
  display: inline-block;
  background-color: $basic-pink;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: $basic-white;
  padding: 7px 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    top: 57px;
  }

  @media (min-width: $desktop-width) {
    right: 130px;
  }
}
