.billboard {
  background: url("../../img/panorama.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 137px;
  min-width: 280px;
  margin: 0 auto;
  text-align: end;

  @media (min-width: $tablet-width) {
    min-width: 620px;
    height: 509px;
  }

  @media (min-width: $desktop-width) {
    min-width: 940px;
    height: 506px;
  }
}

.billboard__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 130px;
  }
}

.billboard__slogan {
  display: inline-block;
  background-color: $basic-pink;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: $basic-white;
  padding: 7px 20px;
  text-transform: uppercase;
}
