.btn-download {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: $basic-white;
  margin-bottom: 32px;
  width: 280px;
  height: 55px;
  background-color: $basic-text;
  border: 3px solid $basic-white;
  border-radius: 29px;

  &:hover {
    background-color: $basic-white;
    color: $basic-pink;
  }

  &:active {
    background-color: $basic-white;
    color: $basic-pink-active;
  }
}
