.connection__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.footer-logo {
  &:hover .footer-logo__text {
    fill: $basic-pink;
  }

  &:active .footer-logo__text {
    fill: $basic-text;
    opacity: 0.3;
  }

  &:active .footer-logo__glasses {
    opacity: 0.3;
  }


  @media (min-width: $tablet-width) {
    justify-self: flex-start;
  }
}

.footer-logo__glasses {
  fill: $basic-pink;
  margin-right: 12px;
}
