.contrast {
  @media (max-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: grid;
  }
}

.contrast__img {
  display: none;

  @media (max-width: $tablet-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width-only) and (max-width: $desktop-width-less) {
    width: 16px;
    height: 16px;
  }

  @media (max-width: $tablet-width) {
    padding-left: 6px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 6px;
  }
}
