// .contacts {

// }

.contacts__slogan {
  font-weight: 300;
  font-size: 24px;
  color: $basic-text;
}

.contacts__list {
  list-style: none;
}

.contacts__title {
  font-weight: 700;
  font-size: 18px;
  color: $basic-text;
}

.contacts__content {
  font-weight: 300;
  font-size: 24px;
  color: $basic-pink;
}
