.copyright {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    justify-content: flex-end;
  }
}

.copyright svg {
  fill: $basic-pink;

  &:hover {
    fill: $basic-text;
  }

  &:active {
    fill: $basic-text;
    opacity: 0.3;
  }
}

.copyright__title {
  display: block;
  text-decoration: none;
  color: $basic-text;
  margin: 0;
  padding: 0;
  margin-right: 15px;
}
