.download {
  @media (min-width: $desktop-width) {
    max-width: 940px;
    padding: 0 130px;
    margin: 0 auto;
  }
}

.download__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $basic-text;
  text-align: center;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding-top: 37px;
    padding-bottom: 71px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
    padding-bottom: 67px;
  }
}

.download__content {
  padding-top: 9px;
  margin-top: 52px;
  background-color: $grey-background;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    display: grid;
    grid-template-columns: 300px 1fr;
    padding: 56px 33px 32px 20px;
    grid-gap: 47px;
  }

  @media (min-width: $desktop-width) {
    padding: 44px 90px 32px 80px;
    grid-gap: 89px;
  }
}

.download__image {
  text-align: center;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 15px;
  }
}
