.form {
  padding-top: 54px;
}

.form__user-wrapper {
  padding: 0 20px;
  // width: 280px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    padding: 0 132px;
  }
}

.form__slogan-wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 65px;
  }
}

.form__slogan {
  line-height: 30px;
  color: $basic-text;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 55px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.visually-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.form-area {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: baseline;

    &--reverse {
      flex-direction: column-reverse;
    }
  }
}

.form-area__label {
  line-height: 30px;
  color: $basic-pink;
  display: block;
  margin-left: 20px;
  margin-bottom: 15px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0 20px 41px 20px;
  }
}

.form-area__input {
  box-sizing: border-box;
  width: 100%;
  border: 2px solid $grey-border;
  border-radius: 1px;
  padding: 23px 20px 23px 20px;
  margin-bottom: 29px;

  &:focus {
    outline: none;

    &::placeholder {
      color: transparent;
    }
  }

  &::placeholder {
    color: $basic-text;
    font-size: 18px;
    line-height: 30px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
  }
}

.form-area__icon {
  display: none;
}
