.form-contact {
  order: 3;
  margin-top: 24px;
  margin-bottom: 14px;
  // outline: 3px solid rgb(255, 255, 0);
  // outline-offset: -3px;

  @media (min-width: $tablet-width) {
    order: 3;
    padding: 0 20px;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-top: 64px;
  }
}

.form-contact__wrapper {
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    border: 2px solid $radio-grey-border;
    border-radius: 1px;
    padding: 0;
  }
}

.form-contact__title {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 14px;
    padding: 0;
    color: $basic-pink;
    line-height: 18px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    background-color: $basic-white;
    width: 260px;
    margin: 0 auto;
    margin-top: -10px;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    margin: -10px auto 41px;
  }
}

.form-contact__contacts {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: $tablet-width) {
    padding: 0 58px;
    gap: 33px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 74px;
    padding-bottom: 0;
  }
}

.form-contact-phone {
  position: relative;
  display: inline-block;

  &::after {
    content: url("/img/phone-icon.svg");
    display: inline-block;
    background-position: center;
    position: absolute;
    top: 22px;
    right: -21px;
    padding: 13px 17px 18px;
    border: 3px solid $radio-grey-border;
    background-color: $radio-grey-border;
    border-radius: 2px;

    @media (min-width: $tablet-width) {
      top: 0;
      right: 0;
    }

    @media (max-width: $tablet-width-only) {
      display: none;
    }
  }
}

.form__contact-mail {
  position: relative;
  display: inline-block;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-bottom: 29px;
  }

  &::after {
    content: url("/img/mail-icon.svg");
    display: inline-block;
    background-position: center;
    position: absolute;
    top: 23px;
    right: -21px;
    padding: 15px 18px 19px;
    border: 3px solid #e5e5e5;
    background-color: $radio-grey-border;
    border-radius: 2px;

    @media (min-width: $tablet-width) {
      top: 0;
      right: 0;
      margin-bottom: 28px;
    }

    @media (max-width: $tablet-width-only) {
      display: none;
    }
  }
}
