.form {
  padding-top: 54px;
}

.form__user-wrapper {
  padding: 0 20px;
  // width: 280px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    padding: 0 132px;
  }
}

.form__slogan-wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 65px;
  }

  @media (min-width: $tablet-width) {
    max-width: 756px;
    margin: 0 auto;
  }
}

.form__slogan {
  line-height: 30px;
  color: $basic-text;
  text-align: center;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.form__content-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    padding: 0 130px;
    max-width: 940px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }
}

.visually-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}

.form-area {
  display: flex;
  flex-direction: column;
  // position: relative;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: baseline;

    &--reverse {
      flex-direction: column-reverse;
    }
  }
}

.form-area__label {
  line-height: 30px;
  color: $basic-pink;
  display: block;
  margin-left: 20px;
  margin-bottom: 15px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    // margin-left: 0;
  }

  &--user-desktop {
    @media (min-width: $tablet-width) {
      margin: 0;
      margin-right: 20px;
    }
  }
}

.form-area__input-wrap {
  display: flex;
  height: 59px;
  width: 100%;
  padding: 23px 59px 23px 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }
}

.form-area__input {
  box-sizing: border-box;
  /* height: 59px; */
  width: 100%;
  border: 2px solid $grey-border;
  border-radius: 1px;
  padding: 17px 20px;

  &:focus {
    outline: none;

    &::placeholder {
      color: transparent;
    }
  }

  &:hover {
    outline: none;
    border: 2px solid $basic-text;
  }

  &:active {
    outline: none;
    border: 2px solid $basic-pink;
  }

  &::placeholder {
    color: $basic-text;
    font-size: 18px;
    line-height: 30px;
  }
}

// .form-area__icon {
//   display: none;

//   @media (min-width: $tablet-width) {
//     display: inline-block;
//     text-align: center;
//     padding: 18px 19px;
//     background-color: $radio-grey-border;

//     &--mail {
//       // padding: 22px 20px;
//     }
//   }
// }
