.form__user-wrapper {
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    padding: 0 132px;
  }
}

.form__slogan-wrapper {
  @media (min-width: $tablet-width) {
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 756px;
    margin: 0 auto;
    padding-top: 12px;
  }
}

.form__slogan {
  line-height: 30px;
  color: $basic-text;
  text-align: center;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 79px;
  }
}

.form__slogan-visually-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}

.form__content-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    padding: 0 130px;
    max-width: 940px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }
}
