.contacts__map {
  position: relative;
  height: 200px;

  @media (min-width: $tablet-width) {
    height: 374px;
  }

  @media (min-width: $desktop-width) {
    height: 502px;
    margin-bottom: 27px;
  }
}

.contacts__element {
  display: block;
  position: absolute;
  top: -12rem;
  background: url("../img/triangle.svg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;

  @media (min-width: $tablet-width) {
    top: -22rem;
  }

  @media (min-width: $desktop-width) {
    height: 90%;
    top: -25rem;
  }
}

.map-image {
  width: 100%;
  height: 100%;
  border-width: 0;
}
