.more {
  order: 5;
  background-color: $basic-white;
  margin-top: 26px;

  @media (min-width: $tablet-width) {
    order: 5;
    padding: 0 20px;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 0;
  }
}

.more__wrapper {
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
  }
}

.more__emotion {
  margin-bottom: 52px;

  @media (min-width: $tablet-width) {
    padding: 0 60px 48px 50px;
    border: 2px solid $radio-grey-border;
    border-radius: 1px;
    margin-bottom: 69px;
  }
}

.more__title {
  display: block;
  color: $basic-pink;
  line-height: 18px;
  margin-bottom: 22px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
    width: 260px;
    margin: 0 auto;
    margin-top: -14px;
    margin-bottom: 42px;
  }
}

.more__window {
  border: 2px solid $grey-border;
  border-radius: 1px;
  height: 150px;
  padding: 9px 19px 32px 19px;

  &:hover {
    outline: none;
    border: 2px solid $basic-text;
  }

  &:active {
    outline: none;
    border: 2px solid $basic-pink;
  }

  @media (min-width: $desktop-width) {
    height: 72px;
  }
}

.more__window-content {
  font-family: "Open Sans", "Arial", sans-serif;
  border: none;
  resize: none;
  color: $basic-text;
  width: 100%;
  height: 100%;
  font-size: 18px;

  &:focus {
    outline: none;

    &::placeholder {
      color: transparent;
    }
  }

  &::placeholder {
    color: $basic-text;
  }
}
