.name__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.name__item {
  &:nth-child(1) {
    margin-bottom: 63px;

    @media (min-width: $mobile-width) {
      margin-bottom: 27px;
    }
  }

  &:nth-child(2) {
    margin: 24px 0;

    @media (min-width: $tablet-width) {
      margin: 59px 0;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 63px;
    }
  }
}

.form-area {
  width: 100%;
}
