.name__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.name__item {
  &:nth-child(2) {
    margin: 29px 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;

    &:nth-child(2) {
      margin: 56px 0;
    }
  }
}

.form-area {
  width: 100%;
}
