.option {
  padding: 19px 17px 19px 20px;
  border: 2px solid $grey-border;
  background-color: $grey-cell;
  display: flex;
  justify-content: space-between;
}

.option__title {
  color: $basic-text;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.option__cell {
  margin: 0;
  padding: 0;
}

.option__input {
  width: 37px;
  height: 37px;
}
