.option {
  padding: 0 25px 0 20px;
  height: 59px;
  border: 2px solid $grey-border;
  background-color: $grey-cell;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    // display: block;
    text-align: center;
    // padding: 19px 0;
    height: 45px;
    justify-content: center;
  }
}

.option__title {
  color: $basic-text;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.tariffs__option {
  color: $basic-text;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.tariffs__option-title {
  color: $basic-text;

  @media (min-width: $mobile-width) {
    &--tablet {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    display: none;

    &--tablet {
      display: block;
      padding: 11px 0 15px 15px;
      border: 2px solid $grey-border;
      background-color: $grey-cell;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    padding: 8px 0 13px 15px;
  }
}

.option__cell {
  margin: 0;
  padding: 0;

  width: 21px;
}

.option__input {
  width: 37px;
  height: 37px;
}

.option-toggle {
  text-align: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
