.page-footer {
  padding: 40px 0;
}

.page-footer__wrapper {
  min-width: 280px;

  padding: 0 20px;
  // margin: 0 auto;

  @media (min-width: $desktop-width) {
    padding: 0 130px;
    max-width: 940px;
    margin: 0 auto;
  }

  @media (min-width: $more-desktop) {
    padding: 0;
  }
}

.footer-logo {
  fill: $basic-text;

  @media (min-width: $tablet-width) {
    justify-self: flex-start;
  }

  &:hover .footer-logo__tablet,
  &:hover .footer-logo__desktop {
    fill: $basic-pink;
  }

  &:active .footer-logo__tablet,
  &:active .footer-logo__desktop {
    fill: $basic-text;
    opacity: 0.3;
  }
}

.footer-logo__tablet {
  display: block;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.footer-logo__desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
