.page-header {
  background: url("../img/back-mobile.jpg") no-repeat;
  background-size: cover;
  margin-bottom: 46px;
  background-color: $basic-text;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile-2x.jpg");
    background-size: 320px auto;
  }

  @media (min-width: $mobile-width-more) {
    background: url("../img/back-tablet.jpg") no-repeat;
    background-position: 50% -7px;
    background-size: cover;
    z-index: 1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet-2x.jpg");
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    background: url("../img/back-desktop.jpg") no-repeat;
    background-size: cover;
    margin-bottom: 81px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop2x.jpg");
    }
  }
}

.page-header__line-menu {
  background-color: $grey-menu-color;

  &--opened {
    background-color: $basic-text;
  }

  &--closed {
    background-color: $grey-menu-color;
  }
}

.page-header__header {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 130px;
  }

  @media (min-width: $more-desktop) {
    max-width: 940px;
    margin: 0 auto;
    padding: 0;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 280px;
  padding: 0 20px;
  height: 66px;
  position: relative;

  @media (min-width: $tablet-width) {
    min-width: 620px;
    height: 110px;
    // background-color: $basic-text;

    &--catalog {
      background: none;
    }
  }

  @media (min-width: $desktop-width) {
    background: none;
    padding: 0;
    min-width: 0;
  }
}

.page-header__slogan {
  font-family: "Open Sans Light", "Arial-Light", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  margin: 0 20px;
  color: $basic-white;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 42px;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 68px;
    padding: 69px 0 57px;
  }

  @media (min-width: $desktop-width) {
    padding: 61px 0 88px;
    line-height: 67px;
  }
}

.page-header__slogan-catalog {
  padding-bottom: 74px;
}

.page-header__logo {
  fill: $basic-white;

  &:hover .page-header__logo-image-mobile,
  &:hover .page-header__logo-image-tablet,
  &:hover .page-header__logo-image-desktop {
    fill: $basic-pink;
  }

  &:active .page-header__logo-image-mobile,
  &:active .page-header__logo-image-tablet,
  &:active .page-header__logo-image-desktop {
    fill: $basic-white;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 12px;
  }
}

.page-header__logo-image-mobile {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__logo-image-tablet {
  display: none;

  @media (min-width: $tablet-width) and (max-width: $desktop-width-less) {
    display: block;
  }
}

.page-header__logo-image-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
