.page-header {
  width: $mobile-width;
  background: url("../../img/back-mobile.jpg") no-repeat;
  height: 100%;
}

.page-header__line-menu {
  background-color: $grey-menu-color;
}

.page-header__wrapper {
  width: 280px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
  @media (min-width: $tablet-width) {
    width: $desktop-width;
    flex-direction: row;
  }
}

.page-header__slogan {
  font-family: "Open Sans Light", "Arial-Light", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  margin: 0 20px;
  padding: 36px 0 51px 0;
  color: $basic-white;
  text-align: center;
}

.page-header__logo {
  // outline: 5px solid rgba(255, 0, 0, 0.8);
  // outline-offset: -5px;
  height: 23px;

  @media (min-width: $tablet-width) {
    height: 40px;
  }
}
