.page-footer {
  padding: 34px 0;

  @media (min-width: $tablet-width) {
    padding: 41px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 51px 0;
  }
}

.page-footer-catalog {
  padding: 42px 0;

  @media (min-width: $tablet-width) {
    padding: 36px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 101px 0;
  }
}

.page-footer-form {
  @media (min-width: $tablet-width) {
    padding: 59px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 44px 0;
  }
}

.page-footer__wrapper {
  min-width: 280px;
  padding: 0 20px;

  @media (min-width: $desktop-width) {
    padding: 0 130px;
    max-width: 940px;
    margin: 0 auto;
  }

  @media (min-width: $more-desktop) {
    padding: 0;
  }
}
