.page-footer {
  padding: 40px 0;
}

.page-footer__wrapper {
  min-width: 280px;

  padding: 0 20px;
  // margin: 0 auto;

  @media (min-width: $desktop-width) {
    padding: 0 130px;
  }
}

.footer-logo {
  @media (min-width: $tablet-width) {
    justify-self: flex-start;
  }
}

.footer-logo .logo-tablet {
  fill: $basic-pink;
}

.footer-logo .logo-mobile {
  fill: $basic-text;
}

.footer-logo:hover .logo-mobile {
  fill: $basic-pink;
}

.footer-logo:active .logo-mobile,
.footer-logo:active .logo-tablet,
.footer-logo:active .logo-desktop {
  opacity: 0.3;
}
