.page-main {
  border-color: $basic-white;
}

.page-main__catalog-wrapper {
  min-width: 280px;
  margin: 0 auto;
  padding-bottom: 48px;

  @media (min-width: $tablet-width) {
    min-width: 620px;
    text-align: center;
    padding: 79px 0 73px;
  }

  @media (min-width: $desktop-width) {
    padding: 25px 0 88px;
    min-width: 940px;
  }
}

.page-main__slogan {
  margin: 0;
  padding: 0;
  line-height: 30px;
  color: $basic-text;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 30px;
    width: 440px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 580px;
  }
}
