.post {
  margin-bottom: 20px;

  &--card {
    padding: 0 20px;

    @media (min-width: $desktop-width) {
      padding: 0 130px;
    }
  }

  &--item {
    outline: 5px solid rgba(255, 0, 0, 0.8);
    outline-offset: -5px;
    width: 100%;
    transition: width 0.2s;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }
}

.post__wrapper {
  padding: 26px 10px 26px 17px;
  background-color: $grey-background;

  @media (min-width: $tablet-width) {
    padding: 30px 30px;
  }
}

.post__author-likes-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet-width) {
    display: block;
  }
}

.post__author-info {
  &--billboard {
    margin-bottom: 14px;
  }
}

.post__author-name {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-weight: 700;
  line-height: 24px;
  color: $basic-text;
}

.post__time-info {
  font-family: "Open Sans Light", "Arial-Light", sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: $basic-text;
}

.post__text {
  margin: 0;
  line-height: 24px;
  color: $basic-text;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    height: 2.8em;
  }
}

.post__likes {
  display: flex;
  align-items: center;

  @media (max-width: $tablet-width) {
    display: none;
  }

  &--mobile {
    display: none;

    @media (max-width: $tablet-width) {
      display: block;
    }
  }

  &--feed {
    display: block;
  }
}

.post__likes-icon {
  margin-right: 18px;
}

.post__likes-number {
  font-size: 12px;
  line-height: 24px;
  color: $basic-pink;
  text-transform: uppercase;
}
