.promo {
  display: flex;
  flex-direction: column;
  margin-bottom: 47px;

  @media (min-width: $tablet-width) {
    padding-bottom: 119px;
  }
}

.promo__wrapper {
  // width: 280px;
  text-align: center;
  position: relative;
  z-index: 1;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
    // width: 620px;

    &::before {
      // display: none;
      content: "";
      background: url("../img/hand.png") no-repeat;
      background-size: contain;
      width: 643px;
      height: 527px;
      position: absolute;
      top: 94px;
      right: 0;
      z-index: -1;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/hand-2x.png");
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    padding: 0 130px;
    margin: 0 auto;

    &::before {
      // display: none;
      width: 800px;
      height: 535px;
      top: 94px;
      left: auto;
    }
  }
}

.promo__slogan {
  font-family: "Open Sans Light", "Arial-Light", sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: $basic-white;
  line-height: 29px;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
  margin-top: 18px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 190px;
    font-size: 40px;
    line-height: 48px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 72px;
    margin-top: 102px;
    margin-bottom: 39px;
  }
}

.promo__img {
  position: relative;
  top: 3px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
