.promo {
  width: $mobile-width;
  margin-bottom: 47px;
}

.promo__wrapper {
  width: 280px;
}

.promo__slogan {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: $basic-white;
  line-height: 29px;
  text-align: center;
  margin: 0;
  margin-bottom: 34px;
  margin-top: 18px;
}

.promo__img {
  position: relative;
  top: 3px;
}
