.radio {
  display: flex;
  align-items: center;
}

.radio__input {
  position: absolute;
  appearance: none;
  display: inline-block;
  width: 1px;
  height: 1px;
  background-color: $basic-white;
  clip: rect(0 0 0 0);
}

.radio__element {
  position: absolute;
  width: 37px;
  height: 37px;
  border: 2px solid $grey-border;
  border-radius: 50%;
  background-color: $basic-white;
}

.radio__input:checked + .radio__element {
  background-color: $basic-pink;
  width: 15px;
  height: 15px;
  border: 11px solid $basic-white;
  border-radius: 50%;
  background-size: contain;
}

.radio__label {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  color: $basic-text;
  margin-left: 68px;
}
