.reviews {
  margin: 0 auto;
}

.reviews__wripper {
  padding: 0 20px;

  @media (min-width: $desktop-width) {
    padding: 0 130px;
    max-width: 940px;
    margin: 0 auto;
  }
}

.reviews__item {
  margin: 0;
}

.reviews__author-info {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    padding: 0 104px;
  }
}

.reviews__author-name {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: $basic-black;
  font-style: normal;
  text-align: center;
  display: block;
  margin-bottom: 31px;
  order: 1;

  @media (min-width: $tablet-width) {
    order: 2;
    margin-bottom: 17px;
  }
}

.reviews__author-age {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  display: none;
  order: 3;
  margin: 0;
  padding: 0;
  color: $basic-text;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.reviews__text {
  color: $basic-text;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 30px;
  margin-bottom: 44px;
  order: 2;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    order: 1;
  }
}

.reviews__slider-button {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.reviews__slider-button-wrapper {
  display: flex;
  justify-content: space-between;
  position: absolute;
  align-items: center;
  top: 35px;
  left: 0;
  right: 0;
  width: 78%;
  padding: 0;
  margin: 0 auto;
}

.next,
.previous {
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  border-style: none;
  border-image: none;
  border-color: transparent;

  fill: $basic-text;
  opacity: 0.3;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}

.next {
  transform: rotate(180deg);
}
