.reviews-control__next,
.reviews-control__previous {
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  border-style: none;
  border-image: none;
  border-color: transparent;

  fill: $basic-text;
  opacity: 0.3;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}

.reviews-control__next {
  transform: rotate(180deg);
}
