.reviews {
  width: 280px;
  margin: 0 auto;
}

.reviews__author-name {
  font-size: 18px;
  font-weight: 700;
  color: $basic-black;
  font-style: normal;
}

.reviews__text {
  color: $basic-text;
  margin: 0;
  padding: 0;
  text-align: center;
}
