.send {
  margin-bottom: 26px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.send__button {
  background-color: $basic-btn;
  // border: none;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  padding: 23px 45px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: $basic-white;
  border: 2px solid $basic-btn;
  border-radius: 1px;
  width: 100%;
  margin-bottom: 46px;

  &:hover {
    background-color: $basic-btn-hover;
    border: 2px solid $basic-btn-hover;
  }

  &:active {
    color: $basic-white-opacity;
  }

  &:disabled {
    background-color: $radio-grey-border;
    border: 2px solid $radio-grey-border;
  }

  @media (min-width: $tablet-width) {
    width: 296px;
    margin-bottom: 0;
  }
}

.send__attantion {
  color: $basic-text;
  text-transform: uppercase;
  text-align: center;
}

.send__mark {
  color: $basic-pink;
}
