.site-list {
  background-color: $basic-text;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
    background: none;
    text-transform: none;
  }
}

.site-list__item {
  padding: 21px 0;
  text-align: center;
  border-bottom: 1px solid $basic-black;
  box-shadow: 0 1px 0 $blue-shadow, inset 0 1px 0 $inset-site-list-shadow;

  @media (min-width: $desktop-width) {
    border: none;
    box-shadow: none;
    padding: 7px 0;

    &--active {
      line-height: 18px;
      border-bottom: 2px solid $basic-white;
    }
  }
}

.site-list__link {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: $basic-white;
  text-decoration: none;

  &:hover {
    color: $basic-pink;
  }

  &:active {
    color: $basic-pink;
    opacity: 0.3;

    @media (min-width: $desktop-width) {
      color: $basic-white;
    }
  }

  @media (min-width: $desktop-width) {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
  }
}
