
.slider {
  position: relative;
}

.slider__list {
  position: relative;

  &::before {
    display: none;
    content: "";
    background: url("/img/quotes.svg") no-repeat;
    background-size: contain;
    width: 79px;
    height: 63px;
    position: absolute;
    top: -115px;
    right: 46%;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}

.slider__toggles {
  margin: 0 auto;
  padding: 0;
  width: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -10px;

  @media (min-width: $tablet-width) {
    margin-top: 45px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.slider__toggle,
.option-toggle__btn {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: $basic-text;
  opacity: 0.3;
  border-radius: 50%;
  padding: 3px;

  &.active {
    opacity: 1;
    background-color: $basic-white;
    border: 3px solid $basic-text;
  }
}
