.store {
  padding-bottom: 38px;
  padding-top: 28px;
  background-color: $basic-text;

  @media (min-width: $tablet-width) {
    background: none;
    width: 329px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.store__wrapper {
  text-align: center;
  // margin: 0 auto;
}

.store__list {
  display: flex;
  align-items: center;
  justify-content: center;

  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.store__item {
  display: inline-block;

  &:nth-child(2) {
    margin-left: 35px;
    margin-right: 35px;
  }
}

.store__legend {
  font-family: "Open Sans Light", "Arial-Light", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: $basic-white;
  padding: 0;
  text-align: center;
  // margin: 0 20px;
  width: 48%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    // margin: 0;
    width: 90%;
  }

}
