.store {
  padding-bottom: 32px;
  padding-top: 28px;
  background-color: $basic-text;

  @media (min-width: $tablet-width) {
    background: none;
    width: 329px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.store__wrapper {
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-width-only) {
    align-items: center;
  }
}

.store__list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  width: 200px;
  margin: 0 2px 14px 16px;

  @media (min-width: $tablet-width) {
    align-items: center;
    margin: -8px 2px 29px 46px;
  }

  @media (min-width: $desktop-width) {
    margin: -8px 2px 45px 46px;
  }
}

.store__item {
  display: inline-block;

  &:nth-child(2) {
    margin-left: 35px;
    margin-right: 35px;
  }
}

.store__legend {
  font-family: "Open Sans Light", "Arial-Light", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: $basic-white;
  padding: 0;
  text-align: center;
  margin: 0 2px;
  margin-top: 11px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    width: 90%;
    margin-left: 0;
    margin-top: 0;
  }
}
