.success {
  order: 2;
  background-color: $grey-background;
  padding: 41px 20px;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
    order: 4;
    padding: 0 20px;
    margin-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 100%;
    margin-bottom: 26px;
  }
}

.success__wrapper {
  @media (min-width: $tablet-width) {
    padding: 50px 60px 46px 60px;
    border: 2px solid $radio-grey-border;
    border-radius: 1px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 39px;
    padding-bottom: 17px;
  }
}

.success__title {
  color: $basic-pink;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0 31px;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
    width: 432px;
    margin: 0 auto;
    margin-top: -58px;
    margin-bottom: 40px;
    font-size: 14px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: -47px;
  }
}

.success__checkbox-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $desktop-width) {
    grid-template-columns: 315px 293px 211px;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
  }
}

.success__progress-item:not(:last-child) {
  margin-bottom: 39px;
}
