.tarif {
  text-align: center;
  padding-top: 18px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 18px;
    padding-bottom: 14px;
  }

  @media (min-width: $desktop-width) {
    padding: 18px 0;
  }
}

.tarif__type {
  background-color: $basic-pink;
  color: $basic-white;
}

.tarif__name {
  font-weight: 700;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 16px;
  color: $basic-white;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 2px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.tarif__price {
  font-family: "Open Sans Light", "Arial-Light", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: $basic-white;
  margin: 0;

  @media (min-width: $desktop-width) {
    font-family: "Open Sans Light", "Arial-Light", sans-serif;
    font-size: 24px;
    line-height: 30px;
  }
}
