// .tarrifs {

// }
.tariffs__wripper {
  width: 280px;
  margin: 0 auto;
}

.tariffs__list-wripper {
  background: url(../../img/grey-background-tarif.png) no-repeat;
  background-size: cover;
  padding-top: 127px;
  padding-bottom: 46px;
}

.tariffs__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tariffs__item {
  background-color: $basic-text;
}
