// .tarif {

// }

.tarif__name {
  font-weight: 700;
  font-size: 16px;
  color: $basic-white;
  text-transform: uppercase;
}

.tarif__price {
  font-weight: 300;
  font-size: 18px;
  color: $basic-white;
}
