.tunning {
  @media (max-width: $tablet-width-only) {
    padding-top: 16px;
  }
}

.tunning__wrap {
  @media (max-width: $tablet-width-only) {
    margin-bottom: 33px;
  }

  @media (min-width: $tablet-width) {
    flex-direction: column;
  }
}
