.user {
  order: 1;
  padding: 35px 20px 42px 20px;

  @media (min-width: $tablet-width) {
    order: 1;
    padding-bottom: 0;
    padding-top: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 67px;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 5px 5px;
  }
}
