.user {
  order: 1;
  padding: 40px 23px;

  @media (min-width: $tablet-width) {
    order: 1;
    padding-bottom: 0;
    padding-top: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 74px;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 5px 5px;
  }
}
