@font-face {
  font-family: "Open Sans Light";
  font-style: leather;
  font-weight: 300;
  font-display: swap;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Open Sans Light"),
    /* Если не получилось, загрузит woff2 */
    url("../fonts/opensanslight.woff2") format("woff2"),
    /* Если браузер не поддерживает woff2, загрузит woff */
    url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Open Sans"),
    /* Если не получилось, загрузит woff2 */
    url("../fonts/opensans.woff2") format("woff2"),
    /* Если браузер не поддерживает woff2, загрузит woff */
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans Bold";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Open Sans Bold"),
    /* Если не получилось, загрузит woff2 */
    url("../fonts/opensansbold.woff2") format("woff2"),
    /* Если браузер не поддерживает woff2, загрузит woff */
    url("../fonts/opensansbold.woff") format("woff");
}
