// root
$basic-black: #000000;
$basic-white: #ffffff;
$basic-text: #283645;
$basic-pink: #D22856;
$grey-border: #E5E5E5;
$grey-cell: rgba(255, 255, 255, 1);
$grey-menu-color: rgba(0, 0, 0, 0.3);
$social-border: #E9EBEC;
$grey-background: #F2F2F2;

// Viewports

$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 1200px;
